body{
    overflow-x: hidden;
    background-color: black;
}

button{
    cursor: pointer;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    width: 100vw;
    padding: 0 20px;
    border-bottom: 1px solid white;
}

#navbar img{
    cursor: pointer;
    height: 20px;
} 

#navbar button{
    color: white;
    background-color: #00000000;
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;
    font-family: verdana;
    font-weight: 800;
}


#mainFrame{
    height: calc(91vh - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgFlowey {
    z-index: -1;
    position: relative;
    top: -28vh;
}

#imgCaracters img{
    height: 80vh;
    position: relative;
    z-index: -2;
    top: -60px;
    left: 4px;
    height: 90vh;
}

#mainFrame #divBtnPularAbertura{
    position: absolute;
    top: 5vh;
    right: 3vw; 
    display: none;
}

#divBtnPularAbertura button{
    color: white;
    background-color: #00000000;
    border: 2px solid white;
    border-radius: 15px;
    padding: 18px 15px 12px 20px;
    font-family: undertale;
    font-size: 25px;
}

#mainFrame #divBtn button{
    position: absolute;
    top: calc(50% - 38.5px);
    left: calc(50% - 158px);
    background-color: #000000CF;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 18px 20px 12px 20px;
    font-family: undertale;
    font-size: 30px;
}

#videoTag {
    width: 70vw;
}

#recepcao{
    display: none;
}

#recepcao button{
    position: absolute;
    top: calc(50% - 38.5px);
    left: calc(50% - 182px);
    background-color: #00000000;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 18px 20px 12px 20px;
    font-family: undertale;
    font-size: 30px;
}

#recepcao button span{
    color: red;
}