body{
    background-color: black;
    overflow: none;
}

#container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sub-container{
    /* border: 2px solid white; */
    width: 58vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#divHeart{
    position: absolute;
    top: 36%;
    z-index: 2;
}

#divHeart img{
    height: 18vh;
    padding: 15px 0 20px;
    background-color: #000;
}

.divForm, #cover{
    position: relative;
    height: 100%;
    width: 50%;
    border: 2px solid white;
    text-align: center;
    border-radius: 50px;
    overflow-x: hidden;
}

#cover{
    position: absolute;
    border: none;
    background-color: #000;
    border-radius: 30px;
    z-index: 1;
}

.divForm form{
    margin: 50px 0 20px;
}

.divForm form h2{
    font-family: undertale;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 5vh;
}

.divForm form input{
    background-color: #000000DE;
    border: 0px solid white;
    border-bottom: 1px solid white;
    border-radius: 4px;
    height: 5vh;
    width: 70%;
    margin: 8px 0;
    font-family: undertale;
    font-size: 18px;
    padding-left: 5%;
    padding-top: 5px;
}

.divForm p{
    font-family: undertale;
    font-size: 15px;
    margin: 10px auto;
    width: fit-content;
}

.divForm span{
    text-decoration: underline;
    cursor: pointer;
}

.divForm button{
    font-family: undertale;
    position: absolute;
    bottom: 8vh;
    left: 30%;
    font-size: 22px;
    background-color: #000;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3.2vh 2.7vw 3vh 3.1vw;
    cursor: pointer; 
    transition: 200ms;
}

.divForm button:hover{
    transition: 200ms;
    background-color: rgb(8, 8, 8);
    transform: translateY(-3px);
}

#inpEmailLogin, #inpSenhaLogin{
    margin: 25px 0;
}
