@font-face {
    font-family: undertale;
    src: url(../assets/fonts/determination-extended.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: undertale;
}

body, html{
    height: 100%;
    overflow-x: hidden;
    background-color: black;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}