html {
    overflow-x: hidden;
}

body {
    background-color: black;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

header img {
    height: 30px;
    cursor: pointer;
}


img {
    height: 100px;
}

#mainFrame{
    opacity: 0;
    transition: opacity 1500ms ease-in;
}


#sectionsHistory {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#sectionsHistory section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divTextAndButton {
    width: 43vw;
    margin-right: 3vw;
}

.divTextAndButton p {
    letter-spacing: 2.5px;
    line-height: 22.1px;
    margin-top: 2vh;
    text-indent: 30px;
    text-align: justify;
}

#text{
    transition: opacity 500ms;
}

.divTextAndButton button {
    margin-top: 3vh;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-size: 1.5em;
    padding: 15px 13px 13px 18px;
    transition: 200ms;
}

.divTextAndButton button:hover {
    background-color: white;
    color: black;
    transform: translateY(-2px);
    transition: 200ms;
    cursor: pointer;
}

.divImg {
    transition: 1000ms;
}

#goodFloweyGif{
    margin-left: 10vw;
    height: 70vh;
    transition: transform 1000ms;
}


#badFloweyGif {
    margin-left: 10vw;
    height: 70vh;
    transition: transform 1000ms;
    transform: translateX(-60vw);
}

#divVideo img {
    height: 70vh;
    width: 40vw;
    transition: transform 1000ms;
    transform: translateX(-60vw);
}

#coverDiv {
    position: absolute;
    background-color: black;
    /* border: 1px solid white; */
    width: 50vw;
    height: 21vh;
    top: 12px;
}

#froggitImg {
    height: 50vh;
    margin-left: 5vw;
    transition: transform 1000ms;
    transform: translateX(-60vw);
}

#labyrinthImg {
    height: 60vh;
    margin-left: 8vw;
    transform: translateX(-60vw);
    transition: transform 1000ms;
}

#homeImg {
    height: 45vh;
    margin-left: 3vw;
    transform: translateX(-60vw);
    transition: transform 1000ms;
}

#coverDiv2 {
    position: absolute;
    background-color: black;
    /* border: 1px solid white; */
    width: 50vw;
    height: 21vh;
    top: 33.5px;
    z-index: 1;
}

#doorImg{
    transition: transform 1000ms;
    transform: translateX(-70vw);
    height: 55vh;
    margin-left: 3vw;
}